@charset "UTF-8";
/*hiệu ứng animation cho header*/
/*@keyframes animationtest {
	0%{
		opacity: 0;
		transform: translate(0, -100px);
	}
	80%{
		transform: translate(0, 20px);
	}
	100%{
		opacity: 1;
		transform: translate(0, 0);
	}

}*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

html {
  font-size: 62.5%; }
  @media (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 900px) {
    body {
      padding: 0rem; } }

body {
  font-family: "Lato", sans-lerif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
  padding: 3rem; }

.header-text {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  /*animation-name: animationtest;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: 3s;
    animation-timing-function: cubic-bezier();*/ }
  .header-text--main {
    display: block;
    font-size: 6.2rem;
    letter-spacing: 1.5rem;
    animation: moveInLeft 1s ease-out; }
    @media (max-width: 600px) {
      .header-text--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .header-text--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.8rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2rem;
  cursor: pointer;
  transition: all 0.2s;
  background-image: linear-gradient(to right, #8e9efc, #1c3eff);
  color: transparent;
  -webkit-background-clip: text; }
  @media (max-width: 900px) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 600px) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/*css bottom và hover*/
.btn:link, .btn:visited {
  padding: 15px 40px;
  border-radius: 100px;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative; }

.btn--white {
  color: #777777;
  background-color: #ffffff; }
  .btn--white::after {
    background-color: #ffffff; }

.btn--blue {
  color: #ffffff;
  background-color: #5a73fc; }
  .btn--blue::after {
    background-color: #5a73fc; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border-radius: 100px;
  top: 0;
  left: 0;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text {
  transition: all .2s; }
  .btn-text:link, .btn-text:visited {
    font-size: 1.6rem;
    text-decoration: none;
    padding: .3rem;
    display: inline-block;
    border-bottom: 0.1rem solid #5a73fc;
    color: #5a73fc; }
  .btn-text:hover {
    background-color: #5a73fc;
    color: #ffffff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-0.2rem); }
  .btn-text:active {
    transform: translateY(0);
    box-shadow: 1 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.header {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.6), rgba(28, 62, 255, 0.6)), url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  height: 95vh;
  clip-path: ellipse(74% 68% at 48% 21%); }
  .header__logo--img {
    font-size: 4rem;
    color: #ffffff;
    text-decoration: none;
    padding: 1rem;
    display: inline-block; }
  .header__text-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0px auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 900px) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  .row::after {
    content: '.';
    display: block;
    clear: both;
    line-height: 0;
    visibility: hidden;
    height: 100%; }
  @media (max-width: 900px) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(1 * ((100% - 3 * 6rem) / 2) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0rem;
  margin-top: -25rem; }

.section-skills {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.6), rgba(28, 62, 255, 0.6)), url("../images/bg.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  clip-path: ellipse(66% 34% at 51% 49%);
  height: 100vh;
  padding: 18rem 0rem;
  margin-top: -18rem; }

.section-courser {
  background-color: #f7f7f7;
  padding: 15rem 0rem 5rem;
  margin-top: -20rem; }

.section-testimonials {
  position: relative;
  padding: 5rem 0; }

.section-enroll {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, #8e9efc, #1c3eff); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.composition {
  position: relative; }
  .composition__photo {
    width: 50%;
    box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
    position: absolute;
    z-index: 10;
    outline-offset: 1rem;
    transition: all .2s; }
    .composition__photo--p1 {
      left: 0rem;
      top: -2rem; }
    .composition__photo--p2 {
      right: 2rem;
      top: 2rem; }
    .composition__photo--p3 {
      left: 10%;
      top: 10rem; }
    .composition__photo:hover .composition__photo__photo:not(:hover) {
      transform: scale(0.9); }
    .composition__photo:hover {
      transform: scale(1.05);
      outline: 1rem solid #5a73fc;
      z-index: 20;
      box-shadow: 0rem 2.5rem 4rem rgba(0, 0, 0, 0.4); }

.skill-box {
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem 2.5rem 5rem 2.5rem;
  text-align: center;
  border-radius: 5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .2s; }
  .skill-box__icon {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #8e9efc, #1c3eff);
    -webkit-background-clip: text;
    color: transparent; }
  .skill-box:hover {
    cursor: pointer;
    transform: translateY(-1.3rem) scale(1.03); }

.card {
  perspective: 150rem;
  height: 45rem;
  position: relative; }
  .card__side {
    height: 45rem;
    font-size: 2rem;
    color: #ffffff;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--next {
      background-color: #ffffff; }
    .card__side--previous {
      background-color: green;
      transform: rotateY(180deg); }
      .card__side--previous-1 {
        background-image: linear-gradient(to right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
      .card__side--previous-2 {
        background-image: linear-gradient(to right, rgba(142, 158, 252, 0.85), rgba(28, 62, 255, 0.85)); }
      .card__side--previous-3 {
        background-image: linear-gradient(to right, rgba(85, 197, 122, 0.85), rgba(40, 180, 133, 0.85)); }
  .card:hover .card__side--next {
    transform: rotateY(-180deg); }
  .card:hover .card__side--previous {
    transform: rotateY(0); }
  .card__picture {
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    height: 23rem;
    clip-path: ellipse(80% 70% at 50% 30%); }
    .card__picture--1 {
      background-image: linear-gradient(to right, #ffb900, #ff7730), url("../images/bg.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right, #8e9efc, #1c3eff), url("../images/bg.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right, #55c57a, #28b485), url("../images/bg.jpg"); }
  .card__heading {
    font-size: 2rem;
    font-weight: normal;
    text-align: right;
    text-transform: uppercase;
    position: absolute;
    top: 12rem;
    right: 2rem;
    color: #ffffff;
    width: 75%;
    display: inline-block; }
  .card__heading-span {
    border-radius: 5rem;
    padding: 0.5rem 1.5rem;
    line-height: 1.8;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right, rgba(142, 158, 252, 0.85), rgba(28, 62, 255, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right, rgba(85, 197, 122, 0.85), rgba(40, 180, 133, 0.85)); }
  .card__detail {
    color: #777777;
    padding: 3rem; }
    .card__detail--list {
      list-style: none;
      width: 75%;
      margin: 0 auto; }
      .card__detail--list li {
        font-size: 1.5rem;
        padding: 1rem;
        text-align: center; }
        .card__detail--list li:not(:last-child) {
          border-bottom: 1px solid #dbdbdb; }
  .card__cta {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #ffffff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 5rem; }

.testimonial {
  width: 80%;
  margin: 0 auto;
  padding: 6rem;
  border-radius: 100rem;
  margin-bottom: 2rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15);
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.3);
  padding-left: 9rem; }
  .testimonial__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    overflow: hidden;
    clip-path: circle(50% at 50% 50%);
    transform: translate(-3rem, 1.25rem);
    margin-top: -3rem;
    shape-outside: circle(50% at 50% 50%); }
  .testimonial__img {
    width: 100%;
    transition: all .3s; }
  .testimonial__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .3s; }
  .testimonial:hover .testimonial__img {
    transform: scale(1.05);
    filter: blur(0.5rem) brightness(70%); }
  .testimonial:hover .testimonial__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }

.bg-gif {
  background-image: url("../images/img.gif");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .4; }

.enroll {
  background-image: radial-gradient(150% 200% ellipse at -15%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url("../images/bg.jpg");
  background-size: cover;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 5rem;
  height: 40rem; }
  .enroll__form {
    padding: 3rem; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  color: inherit;
  border: none;
  border-radius: .2ren;
  border-bottom: 3px solid transparent;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid #5a73fc; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #777777; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
  transition: all .3s; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__radio-group {
  width: 30%;
  display: inline-block; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 0.5rem solid #5a73fc;
  border-radius: 10rem;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    opacity: 0;
    content: '';
    height: 1.2rem;
    width: 1.2rem;
    border: 0.5rem solid #5a73fc;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #5a73fc; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.form__radio-input {
  display: none; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #ffffff;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 2000;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15); }

.navigation__background {
  background-image: radial-gradient(#5a73fc, #1c3eff);
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1000;
  transition: transform .8s;
  -webkit-transition: transform .8s;
  -moz-transition: transform .8s;
  -ms-transition: transform .8s;
  -o-transition: transform .8s; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
  -webkit-transform: scale(80);
  -moz-transform: scale(80);
  -ms-transform: scale(80);
  -o-transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__nav {
  height: 100vh;
  width: 0%;
  position: fixed;
  top: 0rem;
  left: 0rem;
  z-index: 1500;
  opacity: 0;
  transition: opacity .8s;
  -webkit-transition: opacity .8s;
  -moz-transition: opacity .8s;
  -ms-transition: opacity .8s;
  -o-transition: opacity .8s; }

.navigation__list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 1rem 2rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: radial-gradient(150% 200% ellipse at 115%, #ffffff 0%, #ffffff 50%, transparent 50%);
  background-size: 252%;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #5a73fc;
  transform: translateX(1rem);
  -webkit-transform: translateX(1rem);
  -moz-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  -o-transform: translateX(1rem); }

.navigation__icon {
  position: relative;
  margin-top: 2.5rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 2.5rem;
    height: .3rem;
    background-color: #777777;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 3%;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  top: 0; }
