.card{
    perspective: 150rem;
    height: 45rem;
    position: relative;

    &__side{
        height: 45rem;
        font-size: 2rem;
        color: $color-white;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 5rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        overflow: hidden;
        &--next{
            background-color: $color-white;
        }
        &--previous{
            background-color: green;
            transform: rotateY(180deg);
            &-1{
                background-image: linear-gradient(to right, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
            }
            &-2{
                background-image: linear-gradient(to right, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
            }
            &-3{
                background-image: linear-gradient(to right, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
            }
        }
    }
    &:hover &__side--next{
        transform: rotateY(-180deg);
    }
    &:hover &__side--previous{
        transform: rotateY(0);
    }
    &__picture{
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: screen;
        height: 23rem;
        clip-path: ellipse(80% 70% at 50% 30%);
        &--1{
            background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark),
            url('../images/bg.jpg');
        }
        &--2{
            background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark),
            url('../images/bg.jpg');
        }
        &--3{
            background-image: linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark),
            url('../images/bg.jpg');
        }
    }
    &__heading{
        font-size: 2rem;
        font-weight: normal;
        text-align: right;
        text-transform: uppercase;
        position: absolute;
        top: 12rem;
        right: 2rem;
        color: $color-white;
        width: 75%;
        display: inline-block;
    }
    &__heading-span{
        border-radius: 5rem;
        padding: 0.5rem 1.5rem;
        line-height: 1.8;
        -webkit-box-decoration-break: clone;
        &--1{
            background-image: linear-gradient(to right, 
            rgba($color-secondary-light, .85), 
            rgba($color-secondary-dark, .85));
        }
        &--2{
            background-image: linear-gradient(to right, 
            rgba($color-primary-light, .85), 
            rgba($color-primary-dark, .85));
        }
        &--3{
            background-image: linear-gradient(to right, 
            rgba($color-tertiary-light, .85), 
            rgba($color-tertiary-dark, .85));
        }
    }
    &__detail{
        color: $color-grey;
        padding: 3rem;
        &--list{
            list-style: none;
            width: 75%;
            margin: 0 auto;
            li{
                font-size: 1.5rem;
                padding: 1rem;
                text-align: center;
                &:not(:last-child){
                    border-bottom: 1px solid #dbdbdb;
                }
            }
        }
    }
    &__cta{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }
    &__price-box{
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }
    &__price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    &__price-value{
        font-size: 6rem;
        font-weight: 100;
        margin-bottom: 5rem;
    }
}