.navigation{
    &__checkbox{
        display: none;
    }

    &__button{
        background-color: $color-white;
        height: 5rem;
        width: 5rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        z-index: 2000;
        cursor: pointer;
        text-align: center;
        box-shadow: 0 1rem 3rem rgba($color-black, .15);
    }

    &__background{
        background-image: radial-gradient($color-primary, $color-primary-dark);
        height: 5rem;
        width: 5rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        z-index: 1000;
        transition: transform .8s;
        -webkit-transition: transform .8s;
        -moz-transition: transform .8s;
        -ms-transition: transform .8s;
        -o-transition: transform .8s;
    }

    &__checkbox:checked~&__background{
        transform: scale(80);
        -webkit-transform: scale(80);
        -moz-transform: scale(80);
        -ms-transform: scale(80);
        -o-transform: scale(80);
    }

    &__checkbox:checked~&__nav{
        opacity: 1;
        width: 100%;
    }

    &__nav{
        height: 100vh;
        width: 0%;
        position: fixed;
        top: 0rem;
        left: 0rem;
        z-index: 1500;
        opacity: 0;
        transition: opacity .8s;
        -webkit-transition: opacity .8s;
        -moz-transition: opacity .8s;
        -ms-transition: opacity .8s;
        -o-transition: opacity .8s;
}

    &__list{
        @include absCenter;
        list-style: none;
        text-align: center;
    }
    &__item{
        margin: 1rem;
    }
    &__link{
        &:link,
        &:visited{
            display: inline-block;
            font-size: 2rem;
            font-weight: 300;
            padding-bottom: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: radial-gradient(150% 200% ellipse at 115%,$color-white 0%,$color-white 50%,transparent 50%);
            background-size: 252%;
            transition: all .4s;
            -webkit-transition: all .4s;
            -moz-transition: all .4s;
            -ms-transition: all .4s;
            -o-transition: all .4s;
        }
        &:hover,
        &:active{
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
            -webkit-transform: translateX(1rem);
            -moz-transform: translateX(1rem);
            -ms-transform: translateX(1rem);
            -o-transform: translateX(1rem);
        }
    }

    &__icon{
        position: relative;
        margin-top: 2.5rem;

        &,
        &::after,
        &::before{
            width: 2.5rem;
            height: .3rem;
            background-color: $color-grey;
            display: inline-block;
        }
        &::before,
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 3%;
            transition: all 0.25s;
            -webkit-transition: all 0.25s;
            -moz-transition: all 0.25s;
            -ms-transition: all 0.25s;
            -o-transition: all 0.25s;
}
        &::before{
            top: -.8rem;
        }
        &::after{
            top: .8rem;
        }
    }

    &__button:hover &__icon::before{
        top: -1rem;
    }
    &__button:hover &__icon::after{
        top: 1rem;
    }

    &__checkbox:checked+&__button &__icon{
        background-color: transparent;
    }
    &__checkbox:checked+&__button &__icon::before{
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        top: 0;
}
    &__checkbox:checked+&__button &__icon::after{
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        top: 0;
}
}