html{
	font-size: 62.5%;

	@include respon(tab_land){
		font-size: 56.25%;
	}
	@include respon(tab_port){
		font-size: 50%;
	}
	@include respon(big_desktop){
		font-size: 75%;
	}
}
*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}
img{
	max-width: 100%;
	height: auto;
}
body{
	box-sizing: border-box;
	padding: 3rem;

	@include respon(tab_port){
		padding: 0rem;
	}
}