body{
	font-family: "Lato", sans-lerif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	color: $color-grey;
	padding: 30px;
}
.header-text{
	color: $color-white;
	text-transform: uppercase;
	margin-bottom: 60px;
	/*animation-name: animationtest;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: 3s;
    animation-timing-function: cubic-bezier();*/
    &--main{
        display: block;
        font-size: 6.2rem;
        letter-spacing: 15px;
        animation: moveInLeft 1s ease-out;
    }
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 18px;
        animation: moveInRight 1s ease-out;
    }
}